.d1,
.d2 {
    width: 960px;
    background: #ff0000;
    border: 4px solid #000000;
}
.d1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}
body {
    position: relative;
}
.d2 {
    position: absolute;
    top: auto;
    left: 50%;
    margin-left: -480px;
}
