.containing-block {
    position: relative;
}
.left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    color: #ffffff;
    background: #ff0000;
}
.right {
    margin-left: 100px;
    height: 100px;
    color: #ffffff;
    background: #0000ff;
}
