.d1,
.d2 {
    width: 960px;
    background: #ff0000;
    border: 4px solid #000000;
}
/*通用方法：左右外边距值设置为auto可使元素居中*/
.d1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}
body {
    position: relative;
}
/*元素绝对定位，先使定位元素的左外边界放在包含块中间，即偏移量为包含块width值的50%
  再根据元素width值的一半，使用负外边距，使定位元素将左移动*/
.d2 {
    position: absolute;
    top: auto;
    left: 50%;
    margin-left: -480px;
}
